body{
  background-color: rgb(105, 69, 84);
  width: 200px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
  }
  
  .container {
      width: 300px;
  }
  
  #input button {
      text-size-adjust: 20px;
      text-align: center;
  }